html, body {
	height: 100%;
}
.arrow {
	transition: .2s ease all;
  font-size: 1.2em;
}
.active>a>.arrow {
    transform: rotate(-90deg);
}
.progress {
	z-index: 500;
	position: fixed;
	width: 100%;
	height: 5px;
}
.height-100 {
  height: 100%;
}
nav {
	z-index: 200;
}
aside {
	font-size: 1.2em;
	z-index: 100;
	position: absolute;
	top: 50px;
	bottom: 0px;
	width: 15%;
	overflow-x:hidden;
	overflow-y:auto;
	transition: .3s ease-in-out width;
}
aside a.active {
  background: #eee;
}
.sidebar-nav {
	padding: 0;
}
.sidebar-nav ul ul {
	padding-left: 10px;
}
main {
	position: absolute;;
	left: 15%;
	top: 50px;
	right: 0;
	bottom: 0;
	overflow-x:hidden;
	overflow-y:auto;
}
.container-padding {
	padding: 0 35px;
}
.container-padding-half {
  padding: 0 15px;
}
.page-header {
	width: 100%;
	border-bottom: 1px solid #ddd;
}
@media (min-width: 1199px) {
  main, aside {
  	top: 60px;
  }
}
@media (max-width: 782px) {
  .sidebar-nav li span {
  	position: absolute;
  	display:none;
  	padding: 4px 0 0 10px;
  }
  .sidebar-nav li i {
  	font-size: 1.66em;
  }
  aside {
  	width: 57px;
  }
  main {
  	left: 57px;
  }
  aside:hover {
  	width: 200px;
  }
  aside:hover li span {
  	display: inline-block;
  }
  aside:hover .arrow {
  	display: inline-block;
  }
  .sidebar-nav .arrow {
  	display:none;
  }
}


.nano > .nano-pane {
  background : rgba(0,0,0,.1);
  width      : 7px;
  border-radius         : 0px;
}
.nano > .nano-pane > .nano-slider {
  background: rgba(0,0,0,.4);
  border-radius         : 0px;
}